:root {
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-gray-100: #FFFFFF;
    --color-gray-200: #EEEEEE;
    --color-gray-300: #D5D5D5;
    --color-gray-400: #BBBBBB;
    --color-gray-500: #A1A1A1;
    --color-gray-600: #888888;
    --color-gray-700: #6F6F6F;
    --color-gray-800: #555555;
    --color-gray-900: #3C3C3C;
    --color-gray-1000: #222222;

    --color-blue-100: #ebf8ff;
    --color-blue-200: #bee3f8;
    --color-blue-300: #90cdf4;
    --color-blue-400: #63b3ed;
    --color-blue-500: #4299e1;
    --color-blue-600: #3182ce;
    --color-blue-700: #2b6cb0;
    --color-blue-800: #2c5282;
    --color-blue-900: #2a4365;
    --color-blue-1000: #1a365d;

    --color-green-100: #f0fff4;
    --color-green-200: #c6f6d5;
    --color-green-300: #9ae6b4;
    --color-green-400: #68d391;
    --color-green-500: #48bb78;
    --color-green-600: #38a169;
    --color-green-700: #2f855a;
    --color-green-800: #276749;
    --color-green-900: #22543d;
    --color-green-1000: #1c4532;

    --color-primary-lighter:#484848;
    --color-primary-light:  #303030;
    --color-primary:        #222222;
    --color-primary-dark:   #090909;
    --color-primary-darker: #080808;

    --color-secondary-ligher:   #FEFBF1;
    --color-secondary-light:    #FEFBF0;
    --color-secondary:          #FFFBEF;
    --color-secondary-dark:     #FFEEBC;
    --color-secondary-darker:   #FEE28F;
}